@model List<ResultContactDto>
@foreach (var item in Model)
{
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Bize Uaşın
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    @item.Location
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    @item.Phone
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    @item.Mail
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a asp-controller="Default" asp-action="Index" class="footer-logo">
                            @item.FooterTitle
                        </a>
                        <p>
                            @item.FooterDescription
                        </p>
                        <div class="footer_social">
                            @foreach (var item2 in (List<ResultSocialMediaDto>)ViewBag.SocialMedia)
                            {
                                <a href="@item2.Url">
                                    <i class="@item2.Icon" aria-hidden="true"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        @item.OpenDays
                    </h4>
                    <p>
                        @item.OpenDaysDescription
                    </p>
                    <p>
                        @item.OpenHours
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> Tüm Hakları Saklıdır.
                    <a href="#">C&Ç Restoran</a><br><br>
                    &copy; <span id="displayYear"></span> Geliştiren
                    <a href="#" target="_blank">Celal Çolak</a>
                </p>
            </div>
        </div>
    </footer>
}